html,
body,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  flex-flow: column;
}
#root > div {
  flex: 1;
}
svg,
path,
.MuiIconButton-label {
  pointer-events: none;
}
