.MobilePlanPaper {
  h2 {
    padding: 0 0 0 1rem;
    margin: 0,
  }
  .sideBorderTableCells {
    padding: 0 0.75rem;
    border-right: 3px solid #d5d5d5;
    border-left: 3px solid #d5d5d5;
    width: 65px;
    vertical-align: middle;
  }
  ul {
    margin: 0,
  }
}