body {
  margin: 0;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Calibri', 'Arial', sans-serif;
}

.options {
  list-style-type: none;
  padding: 0;
}

.option {
  margin: 1em;
}

.option button {
  padding: 1em;
  width: 100%;
  cursor: pointer;
}

.input-range__label--max .input-range__label-container::before {
  content: "> ";
}

.input-range__label--max .input-range__label-container::after {
  content: " - unlimited";
}